/bin/
/run/
/build/
/config/
/crash-reports/
/eclipse/
/logs/
/CREDITS-fml.txt
/LICENSE-new.txt
/options.txt
/README.txt
/usernamecache.json
/saves/
/.classpath
/.gradle/
/.project
/.settings/
/out/
/eula.txt
/world/
/banned-ips.json
/banned-players.json
/server.properties
/usercache.json
/whitelist.json
/ops.json
/mods/
/dumps/
/asm/
/screenshots/
/scripts/
/minetweaker.log
/*.launch
/secrets.properties
/*.iml
/.idea/
/mcmodsrepo/